.staddressmap {

  &__hiddenlistitem {
    display: none;
  }

  &__distance {
    display: none;

    &--show {
      display: inline;
    }
  }

  .vcard {
    background-color: #e5e5e5;
    margin: 0 0 1rem 0;
    padding: 1rem;
  }

  .gm-style {
    .vcard {
      background-color: transparent;
      margin: 0;
    }
  }

  &__searchfrompoint,
  &__searchradius {
    display: block;
    padding: 10px;
    width: 400px;
  }
}
