<f:if condition="{data.header}">
    {data.header}<br />
</f:if>

<f:if condition="{data.tx_staddressmap_st_addressmap_mapheight}">
    {data.tx_staddressmap_st_addressmap_mapheight}<br />
</f:if>

<f:if condition="{data.tx_staddressmap_st_addressmap_mapwidth}">
    {data.tx_staddressmap_st_addressmap_mapwidth}<br />
</f:if>

<f:if condition="{data.tx_staddressmap_st_addressmap_startzoom}">
    {data.tx_staddressmap_st_addressmap_startzoom}<br />
</f:if>

<f:if condition="{data.tx_staddressmap_st_addressmap_detailzoom}">
    {data.tx_staddressmap_st_addressmap_detailzoom}<br />
</f:if>

<f:if condition="{data.tx_staddressmap_st_addressmap_centercoordinates}">
    {data.tx_staddressmap_st_addressmap_centercoordinates}<br />
</f:if>

<f:if condition="{data.tx_staddressmap_st_addressmap_addresslist}">
    <f:switch expression="{data.tx_staddressmap_st_addressmap_addresslist}">
        <f:case value="1">Value is: 1</f:case>
        <f:case value="2">Value is: 2</f:case>
        <f:case value="3">Value is: 3</f:case>
    </f:switch><br />
</f:if>

