<div id="c{data.uid}"
	 class="staddressmap"
	 data-staddressmap-height="{data.tx_staddressmap_st_addressmap_mapheight}"
	 data-staddressmap-googleapikey="{settings.tx_staddressmap.googleApiKey.value}">
	<div class="staddressmap__filter">
		<input class="staddressmap__searchfrompoint" placeholder="PLZ oder Stadt" value="" type="text">
		<select class="staddressmap__searchradius" size="1">
			<option value="5">Umkreis 5 Km</option>
			<option value="10">Umkreis 10 Km</option>
			<option value="20" selected="selected">Umkreis 20 Km</option>
			<option value="50">Umkreis 50 Km</option>
			<option value="100">Umkreis 100 Km</option>
		</select>
		<button class="staddressmap__searchsubmit" role="button">Suchen</button>
	</div>
	<div class="staddressmap__googlemap" style="height: {data.tx_staddressmap_st_addressmap_mapheight}px;"></div>
	<f:if condition="{data_tx_staddressmap_st_addressmap_addresselement}"><f:for each="{data_tx_staddressmap_st_addressmap_addresselement}" as="content_item"><f:cObject typoscriptObjectPath="tt_content" data="{content_item.data}" /></f:for></f:if>
</div>
