<div class="Infobox staddressmap__bingmapinfobox">
	<a class="infobox-close" href="javascript:closeInfobox()">
		<img class="infobox-close-img" src="data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjE0cHgiIHdpZHRoPSIxNHB4IiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiPjxwYXRoIGQ9Ik03LDBDMy4xMzQsMCwwLDMuMTM0LDAsN2MwLDMuODY3LDMuMTM0LDcsNyw3YzMuODY3LDAsNy0zLjEzMyw3LTdDMTQsMy4xMzQsMTAuODY3LDAsNywweiBNMTAuNSw5LjVsLTEsMUw3LDhsLTIuNSwyLjVsLTEtMUw2LDdMMy41LDQuNWwxLTFMNyw2bDIuNS0yLjVsMSwxTDgsN0wxMC41LDkuNXoiLz48L3N2Zz4=">
	</a>
	<div class="infobox-body" style="max-width: 256px; max-height: 126px; width: 173px;">
		<div class="infobox-title">
			###title###
		</div>
		<div class="infobox-info">
			<div>###description###</div>
		</div>
		<div class="infobox-actions" style="display: none;">
			<ul class="infobox-actions-list">
				<div></div>
			</ul>
		</div>
	</div>
	<div class="infobox-stalk" style="top: 89.8px; left: 79.5px;"></div>
</div>
